<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITypeCode">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:22222/ITypeCode" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITypeCode" contract="CateringService.ITypeCode"
                name="NetTcpBinding_ITypeCode" />
        </client>
    </system.serviceModel>
</configuration>